services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  app:
    build: .
    ports:
      - "3000:3000" 
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017

volumes:
  mongo_data:
